server:
  port: 8080

spring:
  application:
    name: jb2dev-cv-api

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api/v1/openapi
  swagger-ui:
    path: /api/v1/swagger-ui
