name: Integration Tests

on:
  workflow_call:

permissions:
  checks: write
  contents: read

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java & Maven
        uses: ./.github/actions/setup-java-maven

      - name: Run integration tests
        run: mvn test -P integration-tests -B

      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Integration Test Results
          path: target/surefire-reports/*.xml
          reporter: java-junit
